* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    background-color: rgb(180, 220, 241);
    height: 80px;
    width: 100%;
}
/* .logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label img {
    height: 75px;
    width: 75px;
} */
.logo {
  font-size: 2.2rem;
  color: rgb(143, 6, 6);
  display: inline-flex;
  margin-left: 100px;
  align-items: center;
}
.logo img {
  height: 80px;
  width: 80px;
}
/* .logo:hover {
  font-size: 2.3rem;
  transition-duration: 0.700s;
} */
.nav ul {
  float: right;
  margin-right: 32px;
}
.nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 8px;
}
.nav ul li a {
  color: rgb(13, 13, 74);
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
}
.nav ul li a.active {
  background-color: rgb(13, 13, 74);
  color: white;
}
.nav ul li a:hover {
  background-color: rgb(13, 13, 74);
  transition: 0.5s;
  color: white;
}
.checkbtn {
  font-size: 20px;
  color: rgb(5, 2, 2);
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  .logo {
    font-size: 2rem;
    padding-left: 25px;
  }
  .logo img {
    height: 70px;
    width: 70px;
  }
  .logo {
    margin: 0px;
  }
  .nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav ul li a {
    color: rgb(165, 162, 162);
    font-size: 20px;
    
  }
  .nav ul li a.active {
    background: none;
    color: white;
  }
  .nav ul li a:hover {
    background: none;
    color: white;
  }
  #check:checked ~ ul {
    left: 0px;
  }
  
}
/* section {
  background: url(back.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */

#container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.box {
  height: 250px;
  width: 350px;
  
  background-color: #798e9b;
  color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: 5rem 2rem 2rem 2rem;
}
.box1 p {
  font-size: 3em;
  line-height: 200px;
  text-align: center;
}
.box2 h2 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1rem;
  text-decoration: underline dotted;
}
.box2 p {
  font-size: 1.25em;
  padding: 0.5rem;
  color: #b71414;
}
#container a {
  color: #eeee38;
  transition: 0.5s;
}
#container a:hover {
  color: #18d418;
}

/* @media (max-width: 376px) {
  .box {
    height: 12rem;
    width: 18rem;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
  .box p a {
  font-size: 1,5rem;
  color: rgb(241, 234, 163);
}
.box2 {
  display: flex;
  flex-wrap: wrap;
}
.box2 p a {
  font-size: 1rem;
}
} */

@media (min-width: 254px) and (max-width: 431px) {
  img {
    display: none;
  }
  .logo {
    margin-top: 1rem;
  }
  #container {
    flex-wrap: wrap;
  }
  .box1 p {
    font-size: 2em;
  }
  .box2 h2 {
    font-size: 1em;
  }
}





   