body {
  background-color: rgb(19, 19, 128);
  color: white;
  display: flex;
  justify-content: center;
  
}
.level {
  color: #fff8dc;
}
.button {
  background-color: brown;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 86px;
}

